input[type=checkbox]:checked + label{
	color:red;
}

@media print{
	a:after{
		content: "("attr(href)")";		
	}
}




/*
CSS Rules for pricing plans page
*/

body,h4{
	font-size: 2em;
	font-family: 'Titillium Web';
}

.pricing-header{
	background: #66B9BF;
	padding:5px 10px 10px 10px;
	border-radius: 5px 5px 0px 0px;

}

.pricing-header-primary{
	background: #E37222;
}

.pricing-primary-bg{	
	background: #EEAA78;
}

.price-header > h3{
	margin-top: 0px;
}

.pricing-content{
	padding: 40px 25px 10px;
	border-radius: 0px 0px 5px 5px;
}
.plans-section{
	border: 1px solid #d0d4d9;
	border-radius: 5px;
}