input[type=checkbox]:checked + label{
	color:red;
}

@media print{
	a:after{
		content: "("attr(href)")";		
	}
}

.pricing-header{
	background: #66B9BF;
}
.pricing-header-primary{
	background: #E37222;
}